<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application.js" %>
    <%= javascript_include_tag "//kit.fontawesome.com/090e65271c.js", data: { "mutate-approach" => "sync" } %>
  </head>

  <body>
    <%= render(BuildoutDesignSystem::SvgGradient.new)  %>
    <div class="container py-4">
      <%= yield %>
    </div>
  </body>
</html>
